In [1]:
import pandas as pd

import numpy as np
from numpy import random
import sys
from datetime import datetime as dt
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
episodes = pd.read_csv('../episodes.csv')
ymrs = pd.read_csv('../ymrs.csv')
hdrs = pd.read_csv('../hdrs.csv')
interviews = pd.read_csv('../interviews.csv')
interventions = pd.read_csv('../interventions.csv')

In [3]:
episodes.drop('Unnamed: 0',axis=1)

  patient                start                  end episode
0       D  2017-07-01 00:00:00  2017-07-24 00:00:00       D
1       D  2017-08-15 00:00:00  2917-09-11 00:00:00       D
2       G  2017-07-24 00:00:00  2017-08-07 00:00:00       D
3       G  2017-09-04 00:00:00  2017-11-01 00:00:00       M
4       M  2017-06-07 00:00:00  2017-07-01 00:00:00       M
5       M  2017-07-14 00:00:00  2017-07-30 00:00:00       D
6       M  2017-09-25 00:00:00  2017-10-10 00:00:00       D

In [4]:
ymrs.drop('Unnamed: 0',axis=1)

,code,date,euphoria,hyperactivity,sexual_impulse,sleep,irritability,verbal_expression,language,thought,aggressiveness,appearance,illness_awareness
0,G,2017-06-06 00:00:00,0,1,0,0,2,2,0,0,0,0,0
1,G,2017-06-16 00:00:00,0,0,0,0,0,2,0,0,0,0,0
2,M,2017-06-21 00:00:00,0,1,0,0,0,2,0,0,2,0,0
3,M,2017-06-21 00:00:00,0,1,0,0,0,2,0,0,2,0,0
4,D,2017-06-26 00:00:00,1,1,0,0,0,2,0,0,0,0,0
5,M,2017-07-03 00:00:00,0,0,0,0,0,0,0,0,0,0,0
6,M,2017-07-03 00:00:00,0,0,0,0,0,0,0,0,0,0,0
7,G,2017-07-03 00:00:00,0,0,0,0,0,0,0,0,0,0,0
8,D,2017-07-10 00:00:00,0,0,0,0,0,0,0,0,0,0,0
9,G,2017-07-12 00:00:00,0,2,0,0,2,0,0,0,0,0,0
10,M,2017-07-17 00:00:00,0,0,0,0,2,0,0,0,0,0,0
11,M,2017-07-17 00:00:00,0,0,0,0,2,0,0,0,0,0,0
12,G,2017-07-17 00:00:00,0,0,0,0,0,0,0,0,0,0,0
13,D,2017-07-24 00:00:00,0,0,0,0,0,0,0,0,0,0,0
14,G,2017-08-07 00:00:00,0,0,0,0,0,0,0,0,0,0,0
15,D,2017-08-21 00:00:00,0,0,0,0,0,0,0,0,0,0,0
16,M,2017-08-21 00:00:00,0,0,0,0,0,0,0,0,0,0,0
17,G,2017-08-30 00:00:00,0,0,0,0,2,0,0,0,2,0,0
18,G,2017-09-04 00:00:00,1,0,0,0,2,2,0,0,0,0,0
19,D,2017-09-11 00:00:00,0,0,0,0,0,0,0,0,0,0,0
20,M,2017-09-11 00:00:00,0,0,0,0,0,0,0,0,0,0,0
21,D,2017-10-02 00:00:00,0,0,0,0,0,0,0,0,0,0,0
22,G,2017-10-02 00:00:00,0,0,0,0,2,0,0,0,0,0,0
23,M,2017-10-03 00:00:00,0,0,0,0,0,0,0,0,0,0,0
24,G,2017-10-16 00:00:00,0,0,0,0,2,0,0,0,0,0,0
25,M,2017-10-18 00:00:00,0,0,0,0,0,0,0,0,0,0,0
26,M,2017-10-30 00:00:00,0,0,0,0,0,0,0,0,0,0,0
27,G,2017-10-30 00:00:00,0,0,0,0,2,0,1,0,0,0,0
28,D,2017-11-04 00:00:00,0,0,0,0,0,0,0,0,0,0,0
29,M,2017-11-06 00:00:00,0,0,0,0,0,0,0,0,0,0,0
30,G,2017-11-08 00:00:00,0,0,0,0,0,2,0,0,2,0,0
31,G,2017-12-26 00:00:00,0,0,0,0,2,0,0,0,0,0,0
32,D,2017-12-29 00:00:00,0,0,0,0,0,0,0,0,0,0,0
33,M,2018-01-15 00:00:00,0,0,0,0,0,0,0,0,0,0,0
34,D,2018-01-15 00:00:00,0,0,0,0,0,0,0,0,0,0,0

In [5]:
hdrs.drop('Unnamed: 0',axis=1)

,code,date,depressed_mood,guilt,suicide,precocious_insomnia,medium_insomnia,verbal_expression,language,thought,...,retardation,agitation,psychic_anxiety,somatic_anxiety,somatic_gastrointestinal_symptoms,somatic_general_symptoms,genital_symptoms,hypochondria,weight_loss,illness_awareness
0,G,2017-06-06 00:00:00,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,G,2017-06-16 00:00:00,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,M,2017-06-21 00:00:00,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,M,2017-06-21 00:00:00,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,D,2017-06-26 00:00:00,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,M,2017-07-03 00:00:00,0,0,0,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,M,2017-07-03 00:00:00,0,0,0,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,G,2017-07-03 00:00:00,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
8,D,2017-07-10 00:00:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,D,2017-07-11 00:00:00,3,0,0,0,0,0,0,0,...,0,0,2,3,0,1,3,0,0,0
10,M,2017-07-17 00:00:00,2,1,0,0,2,0,0,0,...,1,0,1,0,2,0,0,0,0,0
11,G,2017-07-17 00:00:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,D,2017-07-24 00:00:00,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,M,2017-08-07 00:00:00,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,G,2017-08-07 00:00:00,2,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,M,2017-08-21 00:00:00,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,D,2017-08-21 00:00:00,2,1,0,0,0,0,0,0,...,0,1,1,0,0,0,0,0,0,0
17,G,2017-08-30 00:00:00,1,0,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
18,G,2017-09-04 00:00:00,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,D,2017-09-11 00:00:00,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,M,2017-09-11 00:00:00,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,G,2017-10-02 00:00:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,D,2017-10-02 00:00:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,M,2017-10-03 00:00:00,1,0,0,2,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
24,G,2017-10-16 00:00:00,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,M,2017-10-18 00:00:00,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,M,2017-10-20 00:00:00,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,G,2017-10-30 00:00:00,0,0,2,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28,D,2017-11-04 00:00:00,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29,M,2017-11-06 00:00:00,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30,G,2017-11-08 00:00:00,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
31,G,2017-12-12 00:00:00,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
32,G,2017-12-26 00:00:00,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,2,0,0,0
33,D,2017-12-29 00:00:00,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
34,M,2018-01-15 00:00:00,2,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
35,D,2018-01-15 00:00:00,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
interviews.drop('Unnamed: 0',axis=1)

,mood,motivation,attention,irritability,anxiety,sleep_quality,nr_cigarettes,caffeine,alcohol,other_drugs,patient,date,active_time
0,0,1,1,1,1,2,0,90,0,0,G,2007-07-17 00:00:00,1470
1,-1,-1,2,1,1,3,24,120,0,0,D,2017-01-02 00:00:00,1790
2,0,-1,2,1,1,1,24,90,0,0,D,2017-01-15 00:00:00,1545
3,2,2,3,3,3,3,34,150,0,0,D,2017-06-01 00:00:00,1710
4,2,2,3,3,3,3,38,150,0,0,D,2017-06-02 00:00:00,1770
...,...,...,...,...,...,...,...,...,...,...,...,...,...
642,0,-1,1,1,1,3,20,90,0,0,M,2018-08-18 00:00:00,1585
643,0,0,1,1,1,1,12,90,0,0,M,2018-08-23 00:00:00,200
644,0,0,1,1,1,3,17,90,0,0,M,2018-08-24 00:00:00,300
645,-1,-1,2,1,1,2,26,120,0,0,D,2018-12-03 00:00:00,1710
646,0,-1,1,1,1,1,25,90,0,0,M,2018-12-04 00:00:00,1500

In [7]:
interventions.drop('Unnamed: 0',axis=1)

   code                 date  gaf  relief
0     D  2017-06-01 00:00:00   80       5
1     D  2017-06-01 00:00:00   80       5
2     G  2017-06-06 00:00:00   80       1
3     M  2017-06-07 00:00:00   60       3
4     G  2017-06-12 00:00:00   70       5
5     M  2017-06-15 00:00:00   80       3
6     G  2017-06-16 00:00:00   85       2
7     D  2017-06-19 00:00:00   80       3
8     M  2017-06-21 00:00:00   90       3
9     D  2017-06-26 00:00:00   85       3
10    G  2017-07-03 00:00:00   75       4
11    G  2017-07-03 00:00:00   75       4
12    M  2017-07-03 00:00:00   90       5
13    M  2017-07-05 00:00:00   90       3
14    D  2017-07-10 00:00:00   80       6
15    D  2017-07-12 00:00:00   50       7
16    M  2017-07-17 00:00:00   80       6
17    D  2017-07-17 00:00:00   60       5
18    D  2017-07-24 00:00:00   85       2
19    G  2017-07-24 00:00:00   75       5
20    M  2017-08-07 00:00:00   85       1
21    G  2017-08-07 00:00:00   65       5
22    G  2017-08-17 00:00:00   85       5
23    M  2017-08-21 00:00:00   90       2
24    D  2017-08-21 00:00:00   70       5
25    M  2017-08-23 00:00:00   90       3
26    D  2017-08-29 00:00:00   70       5
27    G  2017-08-30 00:00:00   80       5
28    G  2017-09-04 00:00:00   70       2
29    G  2017-09-04 00:00:00   85       2
30    M  2017-09-06 00:00:00   95       2
31    M  2017-09-06 00:00:00   95       2
32    M  2017-09-11 00:00:00   95       4
33    M  2017-09-11 00:00:00   95       4
34    D  2017-09-11 00:00:00   85       2
35    G  2017-09-15 00:00:00   90       6
36    D  2017-09-19 00:00:00   90       3
37    G  2017-09-25 00:00:00   75       4
38    M  2017-09-27 00:00:00   70       5
39    M  2017-09-27 00:00:00   70       5
40    G  2017-10-02 00:00:00   85       2
41    G  2017-10-16 00:00:00   80       2
42    M  2017-10-18 00:00:00   90       3
43    G  2017-10-23 00:00:00   80       3
44    M  2017-10-25 00:00:00   90       2
45    D  2017-10-26 00:00:00   85       3
46    M  2017-10-30 00:00:00   90       4
47    G  2017-10-30 00:00:00   80       6
48    D  2017-11-04 00:00:00   95       2
49    D  2017-12-11 00:00:00   85       3
50    G  2017-12-12 00:00:00   85       3
51    M  2017-12-18 00:00:00   85       3
52    G  2017-12-26 00:00:00   85       6
53    D  2017-12-29 00:00:00   90       3
54    M  2018-01-15 00:00:00   80       6
55    D  2018-01-15 00:00:00   90       3
56    D  2018-01-15 00:00:00   90       4
57    G  2018-01-22 00:00:00   80       3
58    M  2107-11-04 00:00:00   90       4

Correcting outliers in interviews dataset(look at Exploratory Data Analysis)

In [8]:
interviews.at[635,'caffeine']=90
interviews.at[701,'caffeine']=90
interviews.at[545,'nr_cigarettes']=12

We define a function that combines these two datasets based on the date. This function iterates over a data set and compares it with the mania and depression episodes defined in the Episode data set. I have assumed that if the dates from the entries of the data set are not included in the episode intervals from the Episode dataset, the patient was in a normal state. This way we get three possible states a patient can be in (Depression->'D', Mania->'M' and Normal->'N').

In [9]:
def checkEpisode(date, patient):
    episode = 'N'
    ep = episodes.loc[episodes['patient'] == patient]
    for index, row in ep.iterrows():
        if date >= row.start and date < row.end:
            episode = row.episode
    return episode

combining the data sets

In [10]:
ymrs_episodes = ymrs.copy()

In [11]:
for index, row in ymrs_episodes.iterrows():
    ymrs_episodes.at[index, 'episode'] = checkEpisode(row.date, row.code)

After having merged the data sets, we can drop the 'date' and 'code' columns, because they do not give any information useful for the prediction:

In [12]:
ymrs_episodes = ymrs_episodes.drop('code', 1)
ymrs_episodes = ymrs_episodes.drop('date', 1)

In [13]:
ymrs_episodes.to_csv('ymrs_episodes.csv',index = False)